<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Demo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/pow">PoW</a>
        <a class="nav-link" href="/poa">PoA</a>
        <a class="nav-link" href="/pos">PoS</a>
      </div>
    </div>
    <div class="d-flex me-3" id="username"></div>
    <div class="me-3" id="userCoin"></div>
  </div>
</nav>